{% extends 'Doctors/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePassword</title>
</head>
<body>
    {% block content %}

    <form action="" method="post">
        <div id="tab">
            <br><br><br><center><h2>Change Password</h2></center><br><br><br>
        {% csrf_token %}
        <table border="2" align="center">
         <tr>
            <td>Current Password</td>
            <td><input type="password" name="cpwd" id="" placeholder="Enter Current Password" required="" autocomplete="off"></td>
         </tr>
         <tr>
            <td>New Password</td>
            <td><input type="password" name="npwd" id="" placeholder="Enter New Password" required="" autocomplete="off"></td>
         </tr>
         <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="cfpwd" id="" placeholder="Re-Enter New Password" onblur="return checkpwd(this,npwd)" required="" autocomplete="off"></td>
         </tr>
         <tr>
            <td colspan="2" align="center"><input type="submit" name="save" value="Change">
                <input type="reset" name="cancel" value="Cancel"></td>
            </tr>
        </table>
    </div>
    </form>
    {{Error}}
</body>
</html>

<script>
    function checkpwd(confirm, passwd) {
        if (confirm.value != passwd.value) {
            alert("Password Mismatch")
            return false
        }
        else {
            return true
        }
    }
</script>
<br><br><br><br>
{% endblock content %}