{% extends 'Doctors/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="post" id="EmpRegForm" enctype="multipart/form-data" data-subdiv-url="{% url 'webadmin:Ajax-SubDep' %}" data-gradepost-url="{% url 'webadmin:Ajax-Grade' %}">
        
        {% csrf_token %}
        <div id="tab">
            <br><br><br><center><h2>Edit Profile</h2></center><br><br><br>
        <table border="3" align="center">
            <tr> 
                <td>NAME</td>
                <td><input type="text" name="txt_dr_name" value="{{UpDr.Doctor_name}}" required="" autocomplete="off"></td>   <!--required and autocompete are uesd to avoid auto suggestions -->
            </tr>
            <tr>
                <td>CONTACT NUMBER </td>
                <td><input type="text" name="txt_dr_cntct" value="{{UpDr.Doctor_contact}}" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td>ADDRESS </td>
                <td><input type="text" name="txt_dr_address" value="{{UpDr.Doctor_address}}"" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td>AGE</td>
                <td><input type="text" name="txt_dr_age" value="{{UpDr.Doctor_age}}" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="save" value="UPDATE">
                    <input type="reset" name="cancel" value="CANCEL"></td>
            </tr>
        </table>
    </div>
        <br><br><br><br>
    </form>  
    {% endblock content %}
    <br><br>
</body>
</html>
    