{% extends 'Doctors/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    {% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div id="tab">
            <br><br><br><center><h2>Medicine Details</h2></center><br><br><br>
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Title</td>
                <td><input type="text" name="txt_t" ></td>
            </tr>
            <tr>
                <td>Remark</td>
                <td><textarea name="txt_r" cols="20" rows="5"></textarea></td> 
            </tr>
            <tr>
                <td>Medicine</td>
                <td><textarea name="txt_m" cols="20" rows="5"></textarea></td> 
            </tr>
            <tr>
            <td>Major</td>
            <td><input type="radio" name="major" value="1">Yes<input type="radio" name="major" value="0">No</td>
            </tr>
            <tr>
                <td>Major Details</td>
                <td><textarea name="txt_md" cols="20" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Report</td>
                <td><input type="file" name="file_report" required=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btnsave" value="Upload"></td>
            </tr>

        </table>
    </div>
    </form>
    {% endblock content %}
</body>
</html>