{% extends 'Admin/Head.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--<body>-->
        {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <div id="tab" align="center" style="margin-left:250px">
            <br><br><br><br><h1 align="center">Doctor Department</h1><br><br><br><br>
            
            <table border="3" align="center">
                <tr> 
                    <td>DOCTOR DEPARTMENT NAME</td>
                    <td><input type="text" name="txt_dr_deptname" required="" autocomplete="off"></td>
                </tr>
                <tr>
                    <td  colspan="2" align="center"><input type="submit" name="save" value="SAVE">
                        <input type="reset" name="cancel" value="CANCEL"></td>
                </tr>
            </table>
        
            <br><br><br>
            
            <table border="2" align="center">     <!--- dispay the list of complaint which are we entered-->
                <tr>
                    <th>DOCTOR DEPARTMENT NAME</th>
                    <th colspan="2">Action</th>
                </tr>
            
                {% for i in dr_dept %}
                <tr>
                    <td>{{i.Dr_deptname}}</td>
                    <td><a href="{% url 'webadmin:dlt-DR_DEPARTMENT' i.id %}">Delete</a></td>   <!---Delete-->
                    <td><a href="{% url 'webadmin:Up-DR_DEPARTMENT' i.id %}">Edit</a></td>  <!--Edit-->
                </tr>
                
                {% endfor %}
                
            </table>
        </div>
        </form>  
        <br><br><br><br><br><br><br><br>
        {% endblock content %}
</body>
</html>