{% extends 'Admin/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <form action="" method="post" id="GradePostForm" data-subdep-url="{% url 'webadmin:Ajax-SubDep' %}">
        {% csrf_token %}
        <div id="tab" align="center" style="margin-left:250px">
        <br><br><br><br><h1 align="center">Employee GradePost</h1><br><br><br><br>
        
        <table border="3" align="center">
            <tr>
                <td>DEPARTMENT NAME</td>
                <!--- setting dropdown box in the form-->
                <td><select name="sel_dept" id="depid">
                        <option value="">---select---</option>
                        {% for i in DP %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <td>SUB_DEPT NAME</td>
                <!--- setting dropdown box in the form-->
                <td><select name="sel_subdept" id="subdep">
                <option value="">---select---</option>
                    
                </select></td>
            </tr>
            <tr>
                <td> GRADE/ POST OF EMPLOYEE</td>
                <td><input type="text" name="txt_emp_gradepost" required="" autocomplete="off"></td>
                <!--required and autocompete are uesd to avoid auto suggestions -->
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="save" value="SAVE">
                    <input type="reset" name="cancel" value="CANCEL">
                </td>
            </tr>
        </table>
   
        <br><br><br>
        <div id="tab" align="center">
        <table border="2" align="center">     <!--- dispay the list of district which are we entered-->
            <tr>
                <th>DEPARTMENT NAME OF EMPLOYEE</th> 
                <th>SUB-DEPARTMENT</th>
                <th>GRADE/POST</th>
                <th colspan="2">Action</th>
            </tr>
            
            {% for i in emp_gradepost %}
            <tr>
                <td>{{i.Emp_subdept.Emp_deptid}}</td>
                <td>{{i.Emp_subdept}}</td>
                <td>{{i.Emp_gradepost}}</td>
                <td><a href="{% url 'webadmin:dlt-EMP-GRADEPOST' i.id %}">Delete</a></td>   
                
            </tr>   
            {% endfor %}
        </table>
    </div>
    </form>
    <br><br><br><br><br><br><br><br><br><br>
    
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--Ajax of Place-->
<script>
    $("#depid").change(function () {
        
        var did = $(this).val();
        var ur = $("#GradePostForm").attr("data-subdep-url");
        $.ajax({
            url: ur,
            data: { dept: did, },
            success: function (data) {
                $("#subdep").html(data);
                //alert(data)
            },
        });
    });
    
</script>
{% endblock content %}




