{% extends 'Admin/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <div id="tab" align="center" style="margin-left:250px">
            <br><br><br><br><h1 align="center">Place</h1><br><br><br><br>
            
            <table border="3" align="center">
                <tr>
                    <td>DISTRICT</td>                    <!--- setting dropdown box in the form-->
                    <td><select name="sel_district" >
                        <option value="">---select---</option>
                        {%  for i in Dis %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr> 
                    <td>PLACE</td>
                    <td><input type="text" name="txt_place" required="" autocomplete="off"></td>
                </tr>
                <tr>
                    <td  colspan="2" align="center"><input type="submit" name="save" value="SAVE">
                        <input type="reset" name="cancel" value="CANCEL"></td>
                    </tr>
                </table>
            
                <br><br><br>
                <div id="tab" align="center">
                <table border="2" align="center">     <!--- dispay the list of district which are we entered-->
                    <tr>
                        <th>District</th>
                        <th>Place</th>
                        <th colspan="2">Action</th>
                    </tr>
                    {% for i in pla %}
                    <tr>
                        <td>{{i.district}}</td>
                        <td>{{i.place}}</td>
                        <td><a href="{% url 'webadmin:Dlt-place' i.id %}">Delete</a></td>   <!---Delete-->
                        <td><a href="{% url 'webadmin:Up-place' i.id %}">Edit</a></td>  <!---Edit-->
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
            </form>
            <br><br><br><br><br><br><br><br>
            {% endblock content %}
</body>
</html>