{% extends 'Admin/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="post" id="EmpRegForm" enctype="multipart/form-data" data-subdiv-url="{% url 'webadmin:Ajax-SubDep' %}" data-gradepost-url="{% url 'webadmin:Ajax-Grade' %}">
        {% csrf_token %}
        <div id="tab" align="center">
        <br><br><br><br><center><h2>EMPLOYEE REJECTED LIST</h2></center><br><br><br><br>
        
        <div id="tab" align="center">
        <table border="2" align="center">     <!--- dispay the list of district which are we entered-->
            <tr>
                <th>NAME OF EMPLOYEE</th> 
                <th>CONTACT NUMBER </th>
                <th>EMAIL ID OF EMPLOYEE</th>
                <th>GENDER</th>
                <th>AGE</th>
                <th>PHOTO</th>
                <th>DEPARTMENT NAME OF EMPLOYEE</th>
                <th>DEPARTMENT SUB DIVISION</th>
                <th>POST/GRADE OF EMPLOYEE</th>
                <th>EMLOYEE ID/PEN/PPONO</th>
                <th>No. of FAIMLY MEMBERS JOINED IN MEDISEP</th>
                <th colspan="2">Action</th>
            </tr>
            
            {% for i in RE %}
            <tr>
                <td>{{i.Emp_name}}</td>
                <td>{{i.Emp_contact}}</td>
                <td>{{i.Emp_emailid}}</td>
                <td>{{i.Emp_gender}}</td>
                <td>{{i.Emp_age}}</td>
                <td><img src="{{i.Emp_photo.url}}" alt="" width="120px" height="120px"></td>
                <td>{{i.Emp_gradepost.Emp_subdept.Emp_deptid}}</td>
                <td>{{i.Emp_gradepost.Emp_subdept}}</td>
                <td>{{i.Emp_gradepost}}</td>
                <td>{{i.PEN_NO}}</td>
                <td>{{i.Num_fam_members}}</td>
                <td><a href="{% url 'webadmin:Accept_Emp' i.id %}">Accept</a>
                    
                </td>
            </tr>   
            {% endfor %}
        </table>
    </div>
    </form>  
    <br><br><br><br><br><br>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--Ajax of Place-->
<script>
    $("#emp_dept").change(function () {
        var dept_id = $(this).val();
        var ur = $("#EmpRegForm").attr("data-subdiv-url");
        $.ajax({
            url: ur,
            data: { dept: dept_id, },
            success: function (data) {
                $("#subdep").html(data);
            },
        });
    });
    $("#subdep").change(function () {
        var gid = $(this).val();
        var ur = $("#EmpRegForm").attr("data-gradepost-url");
        $.ajax({
            url: ur,
            data: { dept: gid, },
            success: function (data) {
                $("#gradepost").html(data);
            },
        });
    });
</script>      

{% endblock content %}