{% extends 'Consultancy/Head.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ----CONSULTANCY PROFILE----
    </title>
</head>
<body>
    {% block content %}
<form action="" method="post">
    <br><br><br><br><h1 align="center">Profile</h1><br><br><br><br>
        <div id="tab" align="center">

    <table border="3" align="center">
        <tr>
            <td colspan="2" align="center"><img src="{{ConPF.Consultancy_logo.url}}"  alt="{{ConPF.Consultancy_logo.url}}" width="120px" height="120px" style="border-radius: 60px;"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ConPF.Consultancy_name}}</td>
        </tr>
        <tr>
            <td>Head</td>
            <td>{{ConPF.Consultancy_head}}</td>
        </tr>
        <tr>
            <td>Hospital</td>
            <td>{{ConPF.Consultancy_hospital}}</td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'consultancy:Up_Profile' ConPF.id %}">EditProfile</a>
                <a href="{% url 'consultancy:Con_ChangePwd' ConPF.id %}">ChangePassword</a>  
            </td>
        </tr>  
    </table>
</form>
<br><br><br><br><br><br><br><br>
{% endblock content %}
</body>
</html>