{% extends 'Consultancy/Head.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <br><br><br><br><h1 align="center">Feedbacks</h1><br><br><br><br>
        <div id="tab" align="center">

        <table align="center" border="1">
            <tr>
                <td>Description</td>
                <td><textarea name="description" id="" cols="15" rows="5"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="SEND">
                    <input type="reset" name="cancel" value="CANCEL"></td>
            </tr>
        </table>
        <br><br><br>
        <table align="center" border="1">
            <tr>
               <th>Feedbacks</th>
               <th colspan="2">Action</th>
               
            </tr>
            {% for i in F %}
            <tr>
                <td>{{i.description}}</td>
                <td><a href="{% url 'consultancy:dlt-CONSULTANCY_FEEDBACK' i.id %}">Delete</a></td>
               
            </tr>
            {% endfor %}
            
        </table>
    </form>
    <br><br><br><br><br><br><br><br>
    {% endblock content %}
</body>
</html>